<div class="elgg-page-section elgg-page-hero">
    <div class="elgg-inner">
        <div class="landing-hero">
            <div class="landing-hero__bg" style="background-image: url({{ data.bg.url }})"></div>
            <div class="landing-hero__content">
                <div class="elgg-grid landing-hero__columns--vcentered">
                    <div class="elgg-col-1of2 landing-hero__column--left">
                        <h1 class="landing-hero__heading">
                            {{ data.heading }}
                        </h1>
                        <h2 class="landing-hero__tagline">
                            {{ data.tagline }}
                        </h2>
                        {{ menu('landing:cta', {
                            'class': 'landing-hero__cta-bank elgg-menu-hz'
                        }) }}
                    </div>
                    <div class="elgg-col-1of2 landing-hero__column--right">
                        <img src="{{ data.img.url }}" class="landing-hero__illustration" alt="Hero illustration"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>